---
import { Icon } from "astro-icon/components";
import Section from "../Section.astro";
import SectionHeader from "../SectionHeader.astro";
import FeatureCard from "../feature/FeatureCard.astro";

const features = [
    {
        name: 'Layanan Gratis Konsultasi',
        icon: 'tabler/chat'
    },
    {
        name: 'Pengerjaan Cepat dan Profesional',
        icon: 'tabler/rocket'
    },
    {
        name: 'Desain Berkualitas dan Responsif',
        icon: 'tabler/text-square'
    },
    {
        name: 'Garansi Layanan dan Keamanan',
        icon: 'tabler/shield'
    }
]
---

<Section id="fitur">
    <div class="wrapper space-y-8">
        <SectionHeader title="Fitur Kami" description="Kami menghadirkan fitur unggulan untuk mendukung kebutuhan pembuatan website dan aplikasi Anda secara profesional, cepat, dan aman" color="black" />
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
            {features.map(feature => <FeatureCard icon={feature.icon} name={feature.name} />)}
        </div>
    </div>
</Section>