---
import Button from "../Button.astro";
---

<section class="py-24 md:pt-0 bg-blue-600 md:bg-white">
    <div class="wrapper flex flex-col md:flex-row items-center justify-between gap-4 md:gap-0 md:p-24 bg-transparent md:bg-neutral-900 text-white md:rounded-2xl">
        <div class="space-y-4">
            <h2 class="font-bold text-3xl md:text-4xl text-center md:text-left tracking-tight">Hubungi Kami Segera</h2>
            <div class="flex flex-col items-center md:items-start text-xl space-y-2">
                <a href="" class="flex gap-2 items-center text-green-400 font-semibold">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 21l1.65-3.8a9 9 0 1 1 3.4 2.9L3 21"></path><path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 0 0-1 0v1a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1"></path></g></svg>
                    082236654884
                </a>
                <a href="" class="flex gap-2 items-center text-amber-400 font-semibold">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="5" width="18" height="14" rx="2"></rect><path d="M3 7l9 6l9-6"></path></g></svg>
                    admin@narakode.com
                </a>
            </div>
        </div>
        <Button size="lg" color="white" mdColor="blue">Kirim Pesan</Button>
    </div>
</section>