---
import { Icon } from "astro-icon/components";
import Button from "../Button.astro";
---

<section class="py-24 md:pt-0 bg-blue-600 md:bg-white">
    <div class="wrapper flex flex-col md:flex-row items-center justify-between gap-4 md:gap-0 md:p-24 bg-transparent md:bg-neutral-900 text-white md:rounded-2xl">
        <div class="space-y-4">
            <h2 class="font-bold text-3xl md:text-4xl text-center md:text-left tracking-tight">Hubungi Kami Segera</h2>
            <div class="flex flex-col items-center md:items-start text-xl space-y-2">
                <a href="https://wa.me/6282236654884" target="_blank" class="flex gap-2 items-center text-green-400 font-semibold">
                    <Icon name="tabler/whatsapp" class="w-6 h-6" />
                    082236654884
                </a>
                <a href="mailto:admin@narakode.com" target="_blank" class="flex gap-2 items-center text-amber-400 font-semibold">
                    <Icon name="tabler/mail" class="w-6 h-6" />
                    admin@narakode.com
                </a>
            </div>
        </div>
        <Button tag="a" href="/contact" size="lg" color="white" mdColor="blue">Kirim Pesan</Button>
    </div>
</section>