---
import { getCollection } from 'astro:content'
import Section from '../Section.astro'
import SectionHeader from "../SectionHeader.astro"
import ServiceCard from './ServiceCard.astro'

const { title = 'Layanan Kami', startLevel = 2, description = 'Kami menawarkan layanan terbaik dan terlengkap untuk memenuhi segala kebutuhan pembuatan website dan aplikasi Anda.' } = Astro.props

const services = await getCollection('layanan')

services.sort((a, b) => a.data.order - b.data.order)
---

<Section class="bg-blue-600">
    <div class="wrapper space-y-8">
        <SectionHeader color="white" title={title} level={startLevel} description={description} />
        <div class="grid md:grid-cols-2 gap-8">
            {services.map(service => <ServiceCard
                level={parseInt(startLevel) + 1}
                service={service}
            />)}
        </div>
        <slot name="footer" />
    </div>
</Section>