---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<a href="">Home</a>
			<div>
				<a href="">Services</a>
				<a href="">Products</a>
				<a href="">Blogs</a>
				<a href="">About</a>
				<a href="">Contact</a>
			</div>
		</nav>
		<header>
			<h1>Narakode</h1>
			<p>Menerima jasa pembuatan website dan aplikasi untuk kebutuhan digital anda, kami juga memiliki produk-produk digital yang menarik.</p>
		</header>
	</body>
</html>
