---
import "../styles/main.css"
import '@fontsource/plus-jakarta-sans';
import Navbar from "../components/Navbar.astro"
import Header from '../components/landing/Header.astro'
import Footer from "../components/Footer.astro";
import SectionService from "../components/landing/SectionService.astro";
import SectionFeature from "../components/landing/SectionFeature.astro";
import SectionContact from "../components/landing/SectionContact.astro";
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Header />
		
		<main>
			<SectionService />
			<SectionFeature />
			<SectionContact />
		</main>

		<Footer />

		<script>
			document.querySelectorAll('[data-toggle]')
				.forEach(el => {
					const target = document.querySelector((el as HTMLElement).dataset.toggle)
					
					el.addEventListener('click', () => {
						el.classList.toggle('active')
						target.classList.toggle('hidden')
					})

					document.addEventListener('click', e => {
						const eventTarget = e.target as HTMLElement

						if (!target.classList.contains('hidden') && !el.contains(eventTarget) && !target.contains(eventTarget)) {
							el.classList.remove('active')
							target.classList.add('hidden')
						}
					})
				})
		</script>
	</body>
</html>
