---
import "../styles/main.css"
import '@fontsource/plus-jakarta-sans';
import Navbar from "../components/Navbar.astro"
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Header />
		
		<main>
			<section class="py-24 bg-blue-600">
				<div class="wrapper space-y-8">
					<header class="text-center max-w-3xl mx-auto space-y-2">
						<h2 class="font-bold text-white text-4xl tracking-tight">Layanan Kami</h2>
						<p class="text-xl text-white leading-normal">Layanan terlengkap dan terbaik yang kami sediakan untuk segala kebutuhan pembuatan website dan aplikasi</p>
					</header>
					<div class="grid grid-cols-2 gap-8">
						<div class="bg-white p-6 rounded-lg space-y-4">
							<div class="w-14 h-14 bg-red-50 rounded-full flex items-center justify-center">
								<svg class="w-8 h-8 text-red-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="12" rx="1"></rect><path d="M7 20h10"></path><path d="M9 16v4"></path><path d="M15 16v4"></path></g></svg>
							</div>
							<h3 class="font-bold text-neutral-900 text-2xl">Pembuatan Website</h3>
							<p class="leading-normal text-neutral-600">Pembuatan dan pengembangan website untuk semua jenis website seperti landing page, berita, e-commerce, dll.</p>
							<p class="text-neutral-600">Mulai Dari</p>
							<div class="flex items-center justify-between">
								<p class="text-5xl font-bold text-red-600 leading-none">100k</p>
								<a href="" class="inline-flex items-center justify-center h-10 px-4 bg-red-600 text-white text-sm rounded-lg font-bold">Pesan Sekarang</a>
							</div>
						</div>
						<div class="bg-white p-6 rounded-lg space-y-4">
							<div class="w-14 h-14 bg-red-50 rounded-full flex items-center justify-center">
								<svg class="w-8 h-8 text-red-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="7" y="4" width="10" height="16" rx="1"></rect><path d="M11 5h2"></path><path d="M12 17v.01"></path></g></svg>
							</div>
							<h3 class="font-bold text-neutral-900 text-2xl">Pembuatan Aplikasi</h3>
							<p class="leading-normal text-neutral-600">Pembuatan dan pengembangan aplikasi android dan ios untuk semua jenis aplikasi.</p>
							<p class="text-neutral-600">Mulai Dari</p>
							<div class="flex items-center justify-between">
								<p class="text-5xl font-bold text-red-600 leading-none">200k</p>
								<a href="" class="inline-flex items-center justify-center h-10 px-4 bg-red-600 text-white text-sm rounded-lg font-bold">Pesan Sekarang</a>
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<section class="py-24">
				<div class="wrapper space-y-8">
					<header class="text-center max-w-3xl mx-auto space-y-2">
						<h2 class="font-bold text-neutral-900 text-4xl tracking-tight">Fitur Kami</h2>
						<p class="text-xl text-neutral-600 leading-normal">Layanan terlengkap dan terbaik yang kami sediakan untuk segala kebutuhan pembuatan website dan aplikasi</p>
					</header>
					<div class="grid grid-cols-4 gap-8">
						<div class="bg-neutral-50 p-6 rounded-lg flex flex-col items-center justify-center text-center gap-2">
							<svg class="w-12 h-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.802 17.292s.077-.055.2-.149C19.845 15.718 21 13.653 21 11.354c0-4.286-4.03-7.764-8.998-7.764C7.032 3.59 3 7.068 3 11.354C3 15.642 7.03 19 12 19c.424 0 1.12-.028 2.088-.084c1.262.82 3.104 1.493 4.716 1.493c.499 0 .734-.41.414-.828c-.486-.596-1.156-1.551-1.416-2.29z"></path><path d="M7.5 13.5c2.5 2.5 6.5 2.5 9 0"></path></g></svg>
							<p class="text-lg text-neutral-900 font-semibold">Layanan Gratis Konsultasi</p>
						</div>
						<div class="bg-neutral-50 p-6 rounded-lg flex flex-col items-center justify-center text-center gap-2">
							<svg class="w-12 h-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3-5a9 9 0 0 0 6-8a3 3 0 0 0-3-3a9 9 0 0 0-8 6a6 6 0 0 0-5 3"></path><path d="M7 14a6 6 0 0 0-3 6a6 6 0 0 0 6-3"></path><circle cx="15" cy="9" r="1"></circle></g></svg>
							<p class="text-lg text-neutral-900 font-semibold">Pengerjaan Cepat dan Profesional</p>
						</div>
						<div class="bg-neutral-50 p-6 rounded-lg flex flex-col items-center justify-center text-center gap-2">
							<svg class="w-12 h-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="5" cy="5" r="2"></circle><circle cx="19" cy="5" r="2"></circle><circle cx="5" cy="19" r="2"></circle><circle cx="19" cy="19" r="2"></circle><path d="M5 7v10"></path><path d="M7 5h10"></path><path d="M7 19h10"></path><path d="M19 7v10"></path><path d="M10 10h4"></path><path d="M12 14v-4"></path></g></svg>
							<p class="text-lg text-neutral-900 font-semibold">Desain Berkualitas dan Responsif</p>
						</div>
						<div class="bg-neutral-50 p-6 rounded-lg flex flex-col items-center justify-center text-center gap-2">
							<svg class="w-12 h-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 12l2 2l4-4"></path><path d="M12 3a12 12 0 0 0 8.5 3A12 12 0 0 1 12 21A12 12 0 0 1 3.5 6A12 12 0 0 0 12 3"></path></g></svg>
							<p class="text-lg text-neutral-900 font-semibold">Garansi Layanan dan Keamanan</p>
						</div>
					</div>
				</div>
			</section>
	
			<section class="pb-24">
				<div class="p-24 wrapper bg-neutral-900 text-white rounded-2xl flex items-center justify-between">
					<div class="space-y-4">
						<h2 class="font-bold text-4xl tracking-tight">Hubungi Kami Segera</h2>
						<div class="flex flex-col text-xl space-y-2">
							<a href="" class="flex gap-2 items-center text-green-400 font-semibold">
								<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 21l1.65-3.8a9 9 0 1 1 3.4 2.9L3 21"></path><path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 0 0-1 0v1a5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1"></path></g></svg>
								082236654884
							</a>
							<a href="" class="flex gap-2 items-center text-amber-400 font-semibold">
								<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="5" width="18" height="14" rx="2"></rect><path d="M3 7l9 6l9-6"></path></g></svg>
								admin@narakode.com
							</a>
						</div>
					</div>
					<a href="" class="inline-flex items-center bg-blue-600 text-white h-12 px-6 rounded-lg font-bold">Kirim Pesan</a>
				</div>
			</section>
		</main>

		<footer class="bg-neutral-900 text-white py-24">
			<div class="wrapper grid grid-cols-3">
				<div class="space-y-6">
					<p class="text-2xl font-bold">Narakode</p>
					<ul class="space-y-4">
						<li class="space-y-1">
							<p class="font-bold">Email</p>
							<p class="text-neutral-400">admin@narakode.com</p>
						</li>
						<li class="space-y-1">
							<p class="font-bold">Whatsapp</p>
							<p class="text-neutral-400">082236654884</p>
						</li>
					</ul>
				</div>
				<div class="space-y-6">
					<div class="space-y-2">
						<p class="font-bold">Company</p>
						<nav class="flex flex-col space-y-1	text-neutral-400">
							<a href="" class="hover:text-white">Tentang Kami</a>
							<a href="" class="hover:text-white">Hubungi Kami</a>
							<a href="" class="hover:text-white">Privacy</a>
							<a href="" class="hover:text-white">Blog</a>
						</nav>
					</div>
					<div class="space-y-2">
						<p class="font-bold">Menu</p>
						<nav class="flex flex-col space-y-1	text-neutral-400">
							<a href="" class="hover:text-white">Cara Pemesanan</a>
							<a href="" class="hover:text-white">Cara Pembayaran</a>
							<a href="" class="hover:text-white">Harga</a>
						</nav>
					</div>
				</div>
				<div class="space-y-6">
					<div class="space-y-2">
						<p class="font-bold">Layanan Kami</p>
						<nav class="flex flex-col space-y-1	text-neutral-400">
							<a href="" class="hover:text-white">Pembuatan Website</a>
							<a href="" class="hover:text-white">Pembuatan Aplikasi</a>
						</nav>
					</div>
					<div class="space-y-2">
						<p class="font-bold">Produk Kami</p>
						<nav class="flex flex-col space-y-1	text-neutral-400">
							<a href="" class="hover:text-white">ERP Multistore</a>
							<a href="" class="hover:text-white">Learning Management System</a>
							<a href="" class="hover:text-white">Inventory Website</a>
							<a href="" class="hover:text-white">PPDP</a>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
