---
import "../styles/main.css"
import Navbar from "../components/Navbar.astro"
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Header />
		
		<section class="py-24 bg-blue-600">
			<div class="wrapper space-y-8">
				<header class="text-center max-w-3xl mx-auto space-y-2">
					<h2 class="font-bold text-white text-4xl">Layanan Kami</h2>
					<p class="text-xl text-white leading-normal">Layanan terlengkap dan terbaik yang kami sediakan untuk segala kebutuhan pembuatan website dan aplikasi</p>
				</header>
				<div class="grid grid-cols-2 gap-8">
					<div class="bg-white p-6 rounded-lg space-y-4">
						<div class="w-14 h-14 bg-amber-50 rounded-full flex items-center justify-center">
							<svg class="w-8 h-8 text-amber-500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="12" rx="1"></rect><path d="M7 20h10"></path><path d="M9 16v4"></path><path d="M15 16v4"></path></g></svg>
						</div>
						<h3 class="font-bold text-neutral-900 text-2xl">Pembuatan Website</h3>
						<p class="leading-normal text-neutral-600">Pembuatan dan pengembangan website untuk semua jenis website seperti landing page, berita, e-commerce, dll.</p>
						<a href="" class="inline-flex items-center justify-center h-10 px-4 bg-amber-500 text-white text-sm rounded-lg font-bold">Pesan Sekarang</a>
					</div>
					<div class="bg-white p-6 rounded-lg space-y-4">
						<div class="w-14 h-14 bg-amber-50 rounded-full flex items-center justify-center">
							<svg class="w-8 h-8 text-amber-500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="7" y="4" width="10" height="16" rx="1"></rect><path d="M11 5h2"></path><path d="M12 17v.01"></path></g></svg>
						</div>
						<h3 class="font-bold text-neutral-900 text-2xl">Pembuatan Aplikasi</h3>
						<p class="leading-normal text-neutral-600">Pembuatan dan pengembangan aplikasi android dan ios untuk semua jenis aplikasi.</p>
						<a href="" class="inline-flex items-center justify-center h-10 px-4 bg-amber-500 text-white text-sm rounded-lg font-bold">Pesan Sekarang</a>
					</div>
				</div>
			</div>
		</section>

		<section class="py-24">
			<div class="wrapper space-y-8">
				<header class="text-center max-w-3xl mx-auto space-y-2">
					<h2 class="font-bold text-neutral-900 text-4xl">Fitur Kami</h2>
					<p class="text-xl text-neutral-600 leading-normal">Layanan terlengkap dan terbaik yang kami sediakan untuk segala kebutuhan pembuatan website dan aplikasi</p>
				</header>
			</div>
		</section>
	</body>
</html>
