---
import Header from '../components/landing/Header.astro'
import SectionService from "../components/service/ServiceSection.astro";
import SectionFeature from "../components/landing/SectionFeature.astro";
import SectionContact from "../components/landing/SectionContact.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title='Narakode: Jasa Pembuatan Web dan Pengembangan Aplikasi Mobile',
    description='Kami menerima jasa pembuatan website dan pengembangan aplikasi mobile untuk mendukung bisnis Anda. Professional, cepat, dan terpercaya',
    thumbnail='https://www.narakode.com/images/thumbnail.jpg'
>
	<Header />
	
	<main>
		<SectionService />
		<SectionFeature />
		<SectionContact />
	</main>

</BaseLayout>