---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CourseCard from '../components/CourseCard.astro';
import TutorialCard from '../components/TutorialCard.astro';

const courses = [
	{
		name: 'Belajar HTML Dasar',
		description: 'Mengenal HTML dari nol sampai bisa membuat web sederhana',
		level: 'beginner'
	},
	{
		name: 'Belajar CSS Dasar',
		description: 'Mengenal CSS dari nol sampai bisa memberikan style sederhana pada web',
		level: 'beginner'
	},
	{
		name: 'Belajar Javascript Dasar',
		description: 'Menggunakan Javascript sampai bisa membuat web yang interaktif',
		level: 'beginner'
	},
	{
		name: 'Belajar PHP Dasar',
		description: 'Menggunakan PHP sampai bisa menampilkan dan memproses data di web',
		level: 'beginner'
	}
]

const tutorials = [
	{
		name: 'Membuat Web Portofolio dengan HTML dan CSS',
		tags: ['html', 'css'],
		description: 'Belajar membuat web portofolio pribadi',
		level: 'beginner'
	},
	{
		name: 'Membuat Cart Toko Online dengan Javascript',
		tags: ['javascript'],
		description: 'Belajar membuat cart untuk web toko online',
		level: 'beginner'
	},
	{
		name: 'Membuat CRUD dengan PHP dan MySQL',
		tags: ['php', 'mysql'],
		description: 'Belajar mengolah data dengan PHP dan MySQL',
		level: 'beginner'
	},
	{
		name: 'Membuat Login dan Register dengan Vue dan Laravel',
		tags: ['vue', 'laravel'],
		description: 'Belajar membuat sistem autentikasi dengan Vue dan Laravel',
		level: 'beginner'
	}
]
---

<Layout>
	<Navbar />
	<Header />

	<main>
		<section>
			<h2>Mau belajar apa?</h2>
			<a href="">Lihat Semua</a>
			<p>Kami menyediakan beragam kelas belajar pemrograman lengkap.</p>

			{courses.map(course => <CourseCard course={course} />)}
		</section>
		<section>
			<h2>Ikuti tutorial terbaru</h2>
			<a href="">Lihat Semua</a>
			<p>Kami menyediakan beragam tutorial step-by-step untuk studi kasus tertentu.</p>

			{tutorials.map(tutorial => <TutorialCard tutorial={tutorial} />)}
		</section>
	</main>
</Layout>
