---
import type { ImageMetadata } from 'astro'
import Card from './app/Card.astro'
import Link from './app/Link.astro'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
    book: CollectionEntry<'book'>
}

const { book } = Astro.props

function formatPrice(number: number): string {
    return new Intl.NumberFormat('id-Id', {
        style: 'currency',
        currency: 'idr'
    }).format(number)
}
---

<Card class="space-y-4">
    <Image src={book.data.cover} alt={book.data.title} class="rounded-md mx-auto" />
    <div class="space-y-2">
        <h3 class="font-bold text-gray-900 text-lg">
            <Link>{book.data.title}</Link>
        </h3>
        <p class="font-bold text-red-900">{book.data.price === 0 ? 'Gratis' : formatPrice(book.data.price)}</p>
    </div>
</Card>