---
import Card from './app/Card.astro'
import Link from './app/Link.astro'

interface Props {
    book: {
        title: string
        coverUrl: string
        price: number
    }
}

const { book } = Astro.props

function formatPrice(number: number): string {
    return new Intl.NumberFormat('id-Id', {
        style: 'currency',
        currency: 'idr'
    }).format(number)
}
---

<Card class="space-y-4">
    <img src={book.coverUrl} alt={book.title} class="rounded-md">
    <div class="space-y-2">
        <h3 class="font-bold text-gray-900 text-lg">
            <Link>{book.title}</Link>
        </h3>
        <p class="font-bold text-red-900">{book.price === 0 ? 'Gratis' : formatPrice(book.price)}</p>
    </div>
</Card>