---
const { color = 'white', class: propsClass = '' } = Astro.props

const colorClass = {
    white: 'bg-white text-neutral-900',
    gray: 'bg-neutral-50 text-neutral-900',
    blue: 'bg-blue-600 text-white'
}[color]
---

<div class=`p-6 space-y-4 ${colorClass} rounded-lg ${propsClass}`>
    <slot />
</div>