---
const menus = [
    [
        {
            name: 'Tentang Kami',
            links: [
                {
                    name: 'Tentang Perusahaan Kami',
                },
                {
                    name: 'Hubungi Kami',
                },
                {
                    name: 'Kebijakan Privasi',
                },
                {
                    name: 'Blog Perusahaan'
                }
            ]
        },
        {
            name: 'Menu',
            links: [
                {
                    name: 'Cara Melakukan Pemesanan'
                },
                {
                    name: 'Metode Pembayaran'
                },
                {
                    name: 'Informasi Harga'
                },
            ]
        }
    ],
    [
        {
            name: 'Layanan Kami',
            links: [
                {
                    name: 'Layanan Pengembangan Website'
                },
                {
                    name: 'Layanan Pengembangan Aplikasi'
                }
            ]
        },
        {
            name: 'Produk Kami',
            links: [
                {
                    name: 'Solusi ERP (Enterprise Resource Planning)'
                },
                {
                    name: 'Solusi LMS (Learning Management System)'
                },
                {
                    name: 'Software HRM (Human Resource Management)'
                },
                {
                    name: 'Sistem Manajemen Inventaris'
                },
                {
                    name: 'Solusi PPDP (Pendaftaran Peserta Didik Baru)'
                },
            ]
        }
    ]
]
---

<footer class="py-24 bg-neutral-900 text-white">
    <div class="wrapper grid grid-cols-6 gap-6 md:gap-0">
        <div class="space-y-6 col-span-full md:col-span-2">
            <p class="text-2xl font-bold">Narakode</p>
            <ul class="space-y-4">
                <li class="space-y-1">
                    <p class="font-bold">Email</p>
                    <p class="text-neutral-400">admin@narakode.com</p>
                </li>
                <li class="space-y-1">
                    <p class="font-bold">Whatsapp</p>
                    <p class="text-neutral-400">082236654884</p>
                </li>
            </ul>
        </div>
        {menus.map(menu => <div class="space-y-6 col-span-full sm:col-span-3 md:col-span-2">
            {menu.map(item => <div class="space-y-2">
                <p class="font-bold">{item.name}</p>
                <nav class="flex flex-col space-y-1	text-neutral-400">
                    {item.links.map(link => <a href="" class="hover:text-white">{link.name}</a>)}
                </nav>
            </div>
            )}
        </div>)}
    </div>
</footer>