<footer>
    <div>
        <a href="">Narakode</a>
        <p>Jl. Raya Timur Wanadadi, KM 3, Wanadadi, Banjarnegara, Jawa Tengah</p>
        <div>
            <a href="">info@narakode.com</a>
            <a href="">082236654884</a>
        </div>
    </div>
    <div>
        <h2>Fitur</h2>
        <a href="">Belajar</a>
        <a href="">Tutorial</a>
        <a href="">Artikel</a>
        <a href="">Video</a>
        <a href="">Buku</a>
    </div>
    <div>
        <h2>Terhubung</h2>
        <a href="">Tentang Kami</a>
        <a href="">Hubungi Kami</a>
        <a href="">Dukung Kami</a>
        <a href="">Kerjasama</a>
    </div>
    <div>
        <h2>Media Sosial</h2>
        <a href="facebook.com/narakode"></a>
        <a href="instagram.com/narakode"></a>
        <a href="twitter.com/narakode"></a>
        <a href="youtube.com/narakode"></a>
    </div>
</footer>