<header class="h-[500px] bg-cover bg-neutral-50 text-neutral-900 flex flex-col justify-center pt-16 bg-hero-pattern">
    <div class="max-w-screen-lg w-full mx-auto px-4">
        <div class="space-y-5 max-w-3xl mx-auto text-center">
            <h1 class="text-5xl font-bold tracking-tight text-neutral-900">Jasa Pembuatan Web dan Aplikasi</h1>
            <p class="text-2xl text-neutral-600 leading-normal">Menerima jasa pembuatan website dan aplikasi untuk kebutuhan digital anda, kami juga memiliki produk-produk digital yang menarik.</p>
            <div class="flex justify-center gap-2">
                <button class="bg-neutral-900 text-white h-12 px-6 rounded-lg font-bold">Konsultasi Layanan</button>
                <button class="h-12 px-6 rounded-lg font-bold hover:bg-neutral-300">Beli Produk</button>
            </div>
        </div>
    </div>
</header>