---

const {
    color,
    href,
    underline = true,
    class: propClass = '',
    ...props
} = Astro.props

const colorClass = {
    blue: 'text-blue-600 hover:text-blue-700',
    black: 'text-neutral-900 hover:text-blue-600',
    white: 'text-white'
}[color]
---

<a {...props} href={href} class={`${propClass} ${colorClass} ${underline ? 'hover:underline' : ''}`}><slot /></a>