---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

const { color } = Astro.props
---

<Link href="/" color={color} class="flex items-center gap-x-2" underline={false}>
    <Icon name="tabler/code" class="w-8 h-8" />
    <span class="font-bold text-xl uppercase tracking-tight">Narakode</span>
</Link>