<nav>
    <a href="">Home</a>
    <div>
        <a href="">Services</a>
        <a href="">Products</a>
        <a href="">Blogs</a>
        <a href="">About</a>
        <a href="">Contact</a>
    </div>
</nav>