<nav class="h-16 flex items-center fixed top-0 left-0 w-full">
    <div class="wrapper flex items-center justify-between">
        <a href="" class="text-lg font-bold text-neutral-900">Narakode</a>
        <div class="flex items-center gap-8">
            <a href="" class="text-neutral-900">Services</a>
            <a href="" class="text-neutral-900">Products</a>
            <a href="" class="text-neutral-900">Blogs</a>
            <a href="" class="text-neutral-900">About</a>
            <a href="" class="text-neutral-900">Contact</a>
        </div>
    </div>
</nav>