---
import { Image } from "astro:assets";
import Logo from '../assets/logo.png'
import Container from "./app/Container.astro";
import Input from "./app/Input.astro";
import Link from "./app/Link.astro";
import { Icon } from "astro-icon/components";

interface Props {
    bordered?: boolean
}

const { bordered = false } = Astro.props

const menus = [
    {
        href: '/courses',
        name: 'Belajar'
    },
    // {
    //     href: '/tutorials',
    //     name: 'Tutorial'
    // },
    // {
    //     href: '/articles',
    //     name: 'Artikel'
    // },
    // {
    //     href: '/videos',
    //     name: 'Video'
    // },
    // {
    //     href: '/books',
    //     name: 'Buku'
    // },
]

const activeMenu = Astro.url.pathname
---

<nav class=`h-14 bg-white text-gray-900 relative ${bordered ? 'border-b border-gray-300' : ''} md:h-16`>
    <Container class="h-full flex items-center justify-between gap-2 relative md:static lg:gap-0">
        <Link href="/" class="hidden md:block">
            <Image id="navbar-logo" src={Logo} alt="Narakode" width={40} class="rounded-full" />
        </Link>
        <div id="navbar-mobile-action" class="flex items-center gap-3 md:hidden">
            <button id="navbar-sidebar-toggle" class="group" title="Buka Menu" data-toggle="#navbar-menu">
                <Icon name="tabler:menu-2" class="group-[.toggle-open]:hidden" />
                <Icon name="tabler:x" class="hidden group-[.toggle-open]:block" />
            </button>
            <Link href="/">
                <Icon name={'tabler:home'} />
            </Container>
        </div>
        <div id="navbar-menu" data-click-outside data-trigger="#navbar-sidebar-toggle" class=`hidden flex absolute top-14 left-0 z-10 bg-white w-full p-4 flex-col gap-2 border-b border-gray-300 ${bordered ? 'sm:border sm:shadow md:border-0 md:shadow-none' : 'border-t sm:border-0'} sm:top-18 sm:rounded-lg md:top-[unset] md:left-1/2 md:-translate-x-1/2 md:w-auto md:bg-transparent md:p-0 md:rounded-0 md:flex md:flex-row md:items-center md:gap-4`>
            {menus.map(menu => <Link href={menu.href} color={menu.href === activeMenu ? 'primary' : 'dark'} class={menu.href === activeMenu ? 'font-bold' : ''}>{menu.name}</Link>)}
        </div>
        <button id="navbar-search-close" class="hidden" title="Tutup Pencarian">
            <Icon name="tabler:x" />
        </button>
        <Input id="navbar-search" type="search" placeholder="Cari sesuatu" name="Pencarian" class="hidden w-full lg:block lg:w-auto" />
        <button id="navbar-search-open" class="lg:hidden" title="Pencarian">
            <Icon name="tabler:search" />
        </button>
    </Container>
</nav>

<script>
const logo = document.querySelector('#navbar-logo')
const menu = document.querySelector('#navbar-menu')
const search = document.querySelector('#navbar-search')
const searchOpen = document.querySelector('#navbar-search-open')
const searchClose = document.querySelector('#navbar-search-close')
const mobileAction = document.querySelector('#navbar-mobile-action')

searchOpen?.addEventListener('click', () => {
    search?.classList.remove('hidden')
    menu?.classList.remove('md:flex')
    menu?.classList.add('lg:flex')
    logo?.classList.remove('md:block')
    logo?.classList.add('lg:block')
    searchOpen.classList.add('hidden')
    mobileAction?.classList.add('hidden')
    searchClose?.classList.remove('hidden')
    searchClose?.classList.add('lg:hidden')
})

searchClose?.addEventListener('click', () => {
    search?.classList.add('hidden')
    menu?.classList.add('md:flex')
    menu?.classList.remove('lg:flex')
    logo?.classList.add('md:block')
    logo?.classList.remove('lg:block')
    searchOpen?.classList.remove('hidden')
    mobileAction?.classList.remove('hidden')
    searchClose?.classList.add('hidden')
    searchClose?.classList.remove('lg:hidden')
})
</script>