<nav>
    <a href="">Narakode</a>
    <div>
        <a href="">Belajar</a>
        <a href="">Tutorial</a>
        <a href="">Artikel</a>
    </div>
    <input type="search" placeholder="Cari sesuatu">
</nav>