<nav class="border-b h-16 flex items-center">
    <div class="container px-4 mx-auto flex items-center justify-between">
        <a href="" class="text-lg font-bold text-sky-600">Narakode</a>
        <div class="flex items-center gap-6">
            <a href="" class="hover:text-sky-600">Services</a>
            <a href="" class="hover:text-sky-600">Products</a>
            <a href="" class="hover:text-sky-600">Blogs</a>
            <a href="" class="hover:text-sky-600">About</a>
            <a href="" class="hover:text-sky-600">Contact</a>
        </div>
    </div>
</nav>