---
import { Image } from "astro:assets";
import Logo from '../assets/logo.png'
import Container from "./app/Container.astro";
import Input from "./app/Input.astro";
import Link from "./app/Link.astro";
import { Icon } from "astro-icon/components";
---

<nav class="h-14 bg-white text-gray-900 relative md:h-16">
    <Container class="h-full flex items-center justify-between">
        <Image src={Logo} alt="Narakode" width={40} class="hidden md:block md:rounded-full" />
        <button class="md:hidden">
            <Icon name="tabler:menu-2" />
        </button>
        <div class="hidden md:absolute md:left-1/2 md:-translate-x-1/2 md:flex md:items-center md:gap-4">
            <Link>Belajar</Link>
            <Link>Tutorial</Link>
            <Link>Artikel</Link>
            <Link>Video</Link>
            <Link>Buku</Link>
        </div>
        <Input type="search" placeholder="Cari sesuatu" name="Pencarian" class="hidden lg:block" />
        <button class="lg:hidden">
            <Icon name="tabler:search" />
        </button>
    </Container>
</nav>