---
import Button from "./app/Button.astro";
import Container from "./app/Container.astro";
import Input from "./app/Input.astro";
---

<section class="bg-red-900 text-white py-20 relative">
    <div class="absolute inset-0 bg-[linear-gradient(rgba(255,255,255,0.1)_1px,transparent_1px)] bg-[size:100%_30px]"></div>

    <Container>
        <form action="" class="space-y-4 text-center flex flex-col items-center">
            <div class="space-y-2">
                <h2 class="font-bold text-4xl">Subscribe Newsletter</h2>
                <p class="text-lg text-gray-200">Subscribe ke newsletter kami agar langsung mendapatkan email notifikasi ketika ada konten baru dari kami.</p>
            </div>
            <div class="flex gap-2">
                <Input type="email" placeholder="Masukkan email Anda" color="light" bordered={false} name="email" />
                <Button color="secondary">Subscribe</Button>
            </div>
        </form>
    </Container>
</section>