<section>
    <h2>Subscribe Newsletter</h2>
    <p>Subscribe ke newsletter kami agar langsung mendapatkan email notifikasi ketika ada konten baru dari kami.</p>
    <form action="">
        <input type="email" name="" id="" placeholder="Masukkan email Anda">
        <button>Subscribe</button>
    </form>
</section>