---
import Link from './app/Link.astro'

interface Props {
    headings: {
        depth: number
        slug: string
        text: string
    }[]
}

const { headings } = Astro.props
---

<ol class="space-y-1">
    {headings.map(heading => <li class={`${heading.depth > 2 ? 'pl-4' : ''}`}><Link class="toc-link" href={`#${heading.slug}`}>{heading.text}</Link></li>)}
</ol>

<script>
const headings = document.querySelectorAll('#article-content h2, #article-content h3')
const headingObserver = new IntersectionObserver(onScroll, {
    root: null,
    rootMargin: "0px 0px -50% 0px",
    threshold: [1],
})

function onScroll(e: IntersectionObserverEntry[]) {
    const tocLinks = document.querySelectorAll('.toc-link')

    e.forEach(i => {
        if (i.isIntersecting) {
            tocLinks.forEach(link => {
                link.classList.add('text-gray-900')
                link.classList.remove('text-red-900', 'font-bold')
            })

            const targetLinks = document.querySelectorAll(`a[href="#${i.target.id}"]`)

            targetLinks.forEach(targetLink => {
                targetLink.classList.add('text-red-900', 'font-bold')
                targetLink.classList.remove('text-gray-900')
            })
        }
    })
}

headings.forEach(heading => {
    headingObserver.observe(heading)
})
</script>