---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionService from "../../components/service/ServiceSection.astro";
import Link from "../../components/Link.astro";
---

<BaseLayout
    title='Semua Layanan Kami',
    description='Layanan terbaik dan terlengkap yang kami tawarkan untuk memenuhi segala kebutuhan pembuatan website dan aplikasi',
    thumbnail='https://www.narakode.com/images/thumbnail.jpg'
>
    <SectionService title="Semua Layanan Kami" startLevel="1">
        <p slot="footer" class="text-white text-center text-lg md:text-xl md:leading-normal">
            Butuh layanan lain? <Link href="konsultasi" color="yellow-light">Konsultasikan dengan kami</Link>
        </p>
    </SectionService>
</BaseLayout>