---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/app/Container.astro';
import Card from '../../components/app/Card.astro';
import { Icon } from 'astro-icon/components';
import { render } from 'astro:content';

export async function getStaticPaths() {
    const courses = await getCollection('course')

    return courses.map(course => ({
        params: { id: course.id },
        props: { course }
    }))
}

const { course } = Astro.props
const { Content } = await render(course)
---

<Layout navbarBordered>
    <Container class="py-20">
        <Card>
            <h1 class="font-bold text-4xl flex items-center gap-3">
                <Icon name={course.data.icon} />
                {course.data.title}
            </h1>
            <div>
                <Content />
            </div>
        </Card>
    </Container>
</Layout>