---
import { getCollection } from "astro:content";
import Container from "../../components/app/Container.astro";
import Input from "../../components/app/Input.astro";
import Section from "../../components/app/Section.astro";
import Layout from "../../layouts/Layout.astro";
import CourseCard from "../../components/CourseCard.astro";

const courses = await getCollection('course', course => course.data.publishedAt)
const description = 'Telusuri dan pilih dari beragam kelas belajar pemrograman lengkap sesuai kebutuhan Anda.'
---

<Layout navbarBordered={true} title="Belajar Pemrograman Dengan Materi Lengkap" description={description}>
    <Container class="py-8">
        <Section tag="main" level={1} title='Mau Belajar Apa?' description={description}>
            <Input slot="action" color="light" placeholder="Cari pelajaran" />

            <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{courses.map(course => <CourseCard level={2} course={course} />)}
			</div>
        </Section>
    </Container>
</Layout>